/* Coolors Exported Palette - https://coolors.co/f3736f-cacaca-000000-ec1f16-ee2219 */

/* CSS HEX */
--light-coral: #F3736Fff;
--light-gray: #CACACAff;
--black: #000000ff;
--red-pigment: #EC1F16ff;
--red-pigment-2: #EE2219ff;

/* CSS HSL */
--light-coral: hsla(2, 85%, 69%, 1);
--light-gray: hsla(0, 0%, 79%, 1);
--black: hsla(0, 0%, 0%, 1);
--red-pigment: hsla(3, 85%, 51%, 1);
--red-pigment-2: hsla(3, 86%, 52%, 1);

/* SCSS HEX */
$light-coral: #F3736Fff;
$light-gray: #CACACAff;
$black: #000000ff;
$red-pigment: #EC1F16ff;
$red-pigment-2: #EE2219ff;

/* SCSS HSL */
$light-coral: hsla(2, 85%, 69%, 1);
$light-gray: hsla(0, 0%, 79%, 1);
$black: hsla(0, 0%, 0%, 1);
$red-pigment: hsla(3, 85%, 51%, 1);
$red-pigment-2: hsla(3, 86%, 52%, 1);

/* SCSS RGB */
$light-coral: rgba(243, 115, 111, 1);
$light-gray: rgba(202, 202, 202, 1);
$black: rgba(0, 0, 0, 1);
$red-pigment: rgba(236, 31, 22, 1);
$red-pigment-2: rgba(238, 34, 25, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #F3736Fff, #CACACAff, #000000ff, #EC1F16ff, #EE2219ff);
$gradient-right: linear-gradient(90deg, #F3736Fff, #CACACAff, #000000ff, #EC1F16ff, #EE2219ff);
$gradient-bottom: linear-gradient(180deg, #F3736Fff, #CACACAff, #000000ff, #EC1F16ff, #EE2219ff);
$gradient-left: linear-gradient(270deg, #F3736Fff, #CACACAff, #000000ff, #EC1F16ff, #EE2219ff);
$gradient-top-right: linear-gradient(45deg, #F3736Fff, #CACACAff, #000000ff, #EC1F16ff, #EE2219ff);
$gradient-bottom-right: linear-gradient(135deg, #F3736Fff, #CACACAff, #000000ff, #EC1F16ff, #EE2219ff);
$gradient-top-left: linear-gradient(225deg, #F3736Fff, #CACACAff, #000000ff, #EC1F16ff, #EE2219ff);
$gradient-bottom-left: linear-gradient(315deg, #F3736Fff, #CACACAff, #000000ff, #EC1F16ff, #EE2219ff);
$gradient-radial: radial-gradient(#F3736Fff, #CACACAff, #000000ff, #EC1F16ff, #EE2219ff);







/* CSS HEX */
--phthalo-blue: #00168Fff;
--international-orange-engineering: #BC110Aff;
--red-pigment: #EE2219ff;
--black: #000000ff;
--royal-blue-dark: #00236Bff;

/* CSS HSL */
--phthalo-blue: hsla(231, 100%, 28%, 1);
--international-orange-engineering: hsla(2, 90%, 39%, 1);
--red-pigment: hsla(3, 86%, 52%, 1);
--black: hsla(0, 0%, 0%, 1);
--royal-blue-dark: hsla(220, 100%, 21%, 1);

/* SCSS HEX */
$phthalo-blue: #00168Fff;
$international-orange-engineering: #BC110Aff;
$red-pigment: #EE2219ff;
$black: #000000ff;
$royal-blue-dark: #00236Bff;

/* SCSS HSL */
$phthalo-blue: hsla(231, 100%, 28%, 1);
$international-orange-engineering: hsla(2, 90%, 39%, 1);
$red-pigment: hsla(3, 86%, 52%, 1);
$black: hsla(0, 0%, 0%, 1);
$royal-blue-dark: hsla(220, 100%, 21%, 1);

/* SCSS RGB */
$phthalo-blue: rgba(0, 22, 143, 1);
$international-orange-engineering: rgba(188, 17, 10, 1);
$red-pigment: rgba(238, 34, 25, 1);
$black: rgba(0, 0, 0, 1);
$royal-blue-dark: rgba(0, 35, 107, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #00168Fff, #BC110Aff, #EE2219ff, #000000ff, #00236Bff);
$gradient-right: linear-gradient(90deg, #00168Fff, #BC110Aff, #EE2219ff, #000000ff, #00236Bff);
$gradient-bottom: linear-gradient(180deg, #00168Fff, #BC110Aff, #EE2219ff, #000000ff, #00236Bff);
$gradient-left: linear-gradient(270deg, #00168Fff, #BC110Aff, #EE2219ff, #000000ff, #00236Bff);
$gradient-top-right: linear-gradient(45deg, #00168Fff, #BC110Aff, #EE2219ff, #000000ff, #00236Bff);
$gradient-bottom-right: linear-gradient(135deg, #00168Fff, #BC110Aff, #EE2219ff, #000000ff, #00236Bff);
$gradient-top-left: linear-gradient(225deg, #00168Fff, #BC110Aff, #EE2219ff, #000000ff, #00236Bff);
$gradient-bottom-left: linear-gradient(315deg, #00168Fff, #BC110Aff, #EE2219ff, #000000ff, #00236Bff);
$gradient-radial: radial-gradient(#00168Fff, #BC110Aff, #EE2219ff, #000000ff, #00236Bff);